services:
  - type: web
    name: node-carbon-dashboard
    env: node
    rootDir: .
    buildCommand: npm install
    startCommand: npm run dashboard
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        fromService:
          type: web
          name: node-carbon-dashboard
          property: port
      - key: ALLOWED_ORIGINS
        sync: false


